/* Inter font */
/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap'); */

:root {
  font-size: 62.5%;
  font-family: Verdana;
  --bg-primary: #c4c4c4;
  --bg-secondary: #9d9d9d;
  --sidebar-width: 20%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.main-row {
  min-height: 100vh;
  /*flex: calc(100% - var(--sidebar-width));*/
  display: flex;
  background-color: var(--bg-primary);
}

.sidebar {
  margin: 0;
  padding: 1rem;
  background-color: var(--bg-secondary);
  min-width: var(--sidebar-width);
}

.sidebar header {
  display: flex;
  flex-direction: column;
}

.searchbar {
  padding: 1rem;
  display: flex;
  gap: 1rem;
}

.search-input {
  padding: 0.5rem;
  border: 0;
  flex-grow: 1;
  font-size: 18px;
  border-radius: 5px 0 0 5px;
}

.search-btn {
  padding: 0.5rem;
  border: 0;
  border-radius: 0 5px 5px 0;
  font-size: 2rem;
}

.icons-container {
  flex-grow: 1;
  display: flex;
  justify-content: space-evenly;
}

.icon {
  margin: 1rem;
}

.icon {
  max-width: 6rem;
  max-height: 6rem;
}

@media screen and (max-width: 420px) {
  .sidebar {
    border-radius: 15px 15px 0 0;
    position: absolute;
    bottom: 0px;
    margin-right: auto;
    margin-left: auto;
    left: 0px;
    right: 0px;
  }
}

@media screen and (max-width: 330px) {
  .icons-container img {
    margin-inline: 5px;
    width: 55px;
  }
}

.results-container {
  min-height: auto;
}

.results-container p {
  font-size: 1.5rem;
  overflow: auto;
}
